/* Contenedor principal para todos los estilos */
.container {
    background-color: #ffcccc; /* Rosa claro */
    color: #000000; /* Letra negra */
    padding: 20px;
    border-radius: 10px;
}

/* Reset de estilos */
.container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/Resource/fondo2.jpg');
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    color: #333;
    background-size: cover;
    background-position: center;
}

/* Contenedor principal */
.main-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los encabezados */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    font-size: 16px;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para los botones */
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#btnlogout {
    margin-top: 20px; /* Reducido el margen superior */
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#btnlogout:hover {
    background-color: #c82333;
}

/* Estilo para los enlaces */
.custom-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #666;
}

.custom-link:hover {
    color: #333;
}
