body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/Resource/fondo.png");
    background-size: cover;
    background-position: center;
    color: #be0ece;
    font-family: Baskerville, serif;
}

.museum-sign {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 3, 213);
    margin-bottom: 20px;
}

.museum-sign h1 {
    margin: 0;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

.custom-btn {
    width: calc(100% / 3 - 10px);
    background-color: #c0159b; /* Cambiado a rosa */
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.custom-btn:hover {
    background-color: #3c0352; /* Cambiado a tono más oscuro de rosa */
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 3, 213);
}

.modal-header {
    background-color: #c0159b; /* Fondo de encabezado del modal */
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-close {
    color: #fff;
}

.form-label {
    color: #000;
}

#togglePassword {
    background-color: #c0159b; /* Cambiado a rosa */
    color: #fff;
}

#confirmDelete {
    background-color: #ff0000; /* Cambiado a rojo */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

#confirmDelete:hover {
    background-color: #cc0000; /* Cambiado a tono más oscuro de rojo */
}
